<app-top-bar></app-top-bar>

<h1>AI Adventures</h1>

<br />

<div style="margin: auto; width: 75%" *ngFor="let item of output">
  <p style="font-size: 150%">{{ item.message.content }}</p>
  <img src="{{ item.image }}" style="margin: auto; display: block" />
</div>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter your reply...</mat-label>
    <input
      matInput
      disabled="{{ loading }}"
      placeholder="Response"
      (keyup.enter)="onEnterKey()"
      [(ngModel)]="textbox"
    />
  </mat-form-field>
</p>

<mat-spinner style="margin: auto" *ngIf="loading"></mat-spinner>
