<mat-toolbar>
  <a mat-button href="https://twitter.com/ShrootBuck" target="_blank"
    >@ShrootBuck</a
  >

  <span style="flex: 1 1 auto"></span>

  <a
    mat-icon-button
    href="https://github.com/ShrootBuck/AI-Adventures"
    target="_blank"
    ><mat-icon svgIcon="github"></mat-icon
  ></a>
</mat-toolbar>

<h1>AI Adventures</h1>

<mat-form-field appearance="outline" *ngIf="!key_entered">
  <mat-label>Enter your OpenAI key</mat-label>
  <input
    matInput
    disabled="{{ key_entered }}"
    placeholder="API key"
    (change)="onEnterKey()"
    [(ngModel)]="keybox"
  />
</mat-form-field>

<ng-container *ngIf="key_entered">
  <ng-container *ngFor="let item of output">
    <h2 style="margin-left: 2.5%; margin-right: 2.5%">
      {{ item.message.content }}
    </h2>
    <img
      *ngIf="item.image"
      src="{{ item.image }}"
      width="350px"
      style="padding-bottom: 5rem; border-radius: 5px"
    />
  </ng-container>
</ng-container>

<br />

<mat-form-field appearance="outline" *ngIf="key_entered">
  <mat-label>Enter your reply...</mat-label>
  <input
    matInput
    disabled="{{ loading }}"
    placeholder="Response"
    (keyup.enter)="onEnterKey()"
    [(ngModel)]="textbox"
  />
</mat-form-field>

<mat-spinner style="margin: auto" *ngIf="loading"></mat-spinner>

<br />
