@use "@angular/material" as mat;
@include mat.core();

$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$web-theme: mat.define-dark-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
    ),
  )
);

@include mat.all-component-themes($web-theme);

html,
body {
  height: 100%;
}

body {
  text-align: center;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: white;

  background: rgb(10, 10, 10);
}

h1 {
  padding: 1rem;
}
